@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Sigmar&display=swap');


/* Colors: 
/* Purple: */
/* //#7f117a */
/* Harvet Gold - #da9100
Yellow - #fcd407 */ 

body{
  background-color:#78184A;
  color: #ccc;
  font-family: 'Sigmar', cursive;
  letter-spacing: 0.12rem;
}
.App {
  text-align: center;
}
h1{color: #ffdf00;}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  letter-spacing: 0.2rem;
}
button{
  font-weight: 700;
  font-size: 1rem;
  font-family: 'Sigmar', cursive;
  letter-spacing: 0.12rem;
  color: #281e5d;
  background-color:#fc90ac;
  border-radius: 5px;
  padding: 0.5rem;
  border: solid 5px #c54b8c;
}
button:hover{
  cursor: pointer;
}
.buttonMain{
  width: 20rem;
  height: 3rem;
}
img{
  border-radius: 5px;
 width: 18rem;
 height: 32rem;
}
.star, .remove, .edit{
  background-color: transparent;
  border: none;
}
.remove, .edit{
  color: #ccc;
  font-size: 1.2rem;
}
.fave{
  font-size: 1.5rem;
}

.displayJoke{
  font-weight: 700;
  color:#fcd407;
}
p{margin: 0 4rem}
a{
 color: #fcd407;
}

a:hover{
  color: hotpink;
}
.copy{
  color: #ffdf00;
}
.about{
  color: hotpink;
}
.aboutPar{
  color: #ccc;
}
.aboutH3{
  color: #ffdf00;
}

